* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
  --scroll-bar-color: #58287F;

  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* removing items from mobile version */
main p,
.mobileLogo,
.menuBtn,
.closeMenuBtn,
.btn:nth-child(2) {
  display: none;
}

/* ======================================= */
body {
  min-height: 768px;
  overflow-x: hidden;
  position: relative;

  background: url(./assets/bg.svg) no-repeat center/cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 67.5%;
  margin: 5rem 0px 4rem 281px;
}

.logo {
  width: fit-content;
}

.menuSection {
  width: 47%;
  transition: all .3s ease-in-out;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  position: relative;
}

header nav ul li:hover::before {
  content: '';
  position: absolute;
  bottom: -4px;

  width: 100%;
  height: 2px;
  background: var(--text-color);

  animation: underline .4s ease-in-out;
}

/* ============= hover's animation ============== */
@keyframes underline {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
/* =============================================== */
header nav ul li a {
  font-size: 1.4rem;
  color: var(--text-color);

  transition: all .3s ease-in-out;
}

header nav ul li:hover a{
  font-weight: 700;
}

.btn {
  width: 18.96%;
  height: 3.7rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  border: 1px solid var(--button);
  border-radius: 6px;

  font-weight: 800;
  font-size: 1.1rem;

  transition: all .4s;
}

.btn:hover {
  box-shadow: 0 0 10px var(--button), 0 0 20px var(--button), 0 0 70px var(--button);
  background: var(--button);
}

/* ================ main ============== */
main {
  max-width: 799px;
  width: 100%;
  margin-inline: auto;
}

main .title {
  width: 68.6%;
  margin-inline: auto;
}

main .title h1 {
  width: 86%;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;

  margin-inline: auto;
  color: var(--text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main .title span {
  display: block;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;

  text-shadow: -1px -2px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 2px 0 var(--button);
}

main img {
  position: absolute;
  bottom: 0;
}

/* =========== scroll bar ============ */

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-track{
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
  border-radius: 6px;
}

/* ================ responsivity ================= */
@media (min-width: 2560px) {
  header {
    margin-inline: auto;
  }

  header nav ul li a {
    font-size: 2rem;
  }
  
  main .title {
    position: relative;
  }

  main .title h1 {
    margin-inline: initial;
  }

  main .title span {
    position: absolute;
    left: -34px;
  }

  main img {
    left: 84rem;
  }
}

@media (max-width: 1250px) {
  header {
    margin-inline: auto;
    width: 80%;
  }

  header .logos {
    margin-right: 50px;
  }
}

@media (max-width: 840px) {
  header nav,
  .logo,
  .btn:nth-of-type(1) {
    display: none;
  }

  main p,
  .mobileLogo,
  .menuBtn,
  .btn:nth-of-type(2) {
    display: initial;
  }

  .menuSection {
    width: initial;
  }

  header {
    margin: initial;
  }

  header .logos {
    margin-right: initial;
  }

  .btn:nth-child(2) {
    display: flex;
  }

  header nav ul li:hover::before {
    position: initial;
    animation: none;
  }

  header nav ul li:hover a{
    font-weight: initial;
  }

  /* ==================================== */
  body {
    min-height: 1130px;
  }

  header {
    width: 100%;
    padding: 37px 25px 25.72px 26px;
    position: relative;

    margin-bottom: 88.5px;
    border-bottom: 1px solid var(--border);
  }

  main {
    width: 69.2%;
    margin-inline: auto;
  }

  main p {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0.03em;
    line-height: 41px;
    text-align: center;
    color: var(--text-color);

    display: flex;
    justify-content: center;

    margin-bottom: 88px;
  }

  .btn:nth-child(2) {
    width: 47.2%;
    max-width: 250px;
    gap: 10px;

    margin-inline: auto;
    margin-bottom: 96px;
  }

  main .title {
    width: 92.8%;
  }

  main .title h1,
  main .title span {
    font-size: 6rem;
  }

  main img {
    width: 93%;
    left: 5%;
  }

  /* ============= menusection on ============ */
  .menuBtn {
    cursor: pointer;
  }
  .menuSection.on .menuBtn {
    display: none;
  }

  .menuSection.on .closeMenuBtn {
    display: initial;
    position: absolute;
    right: 10px;
    top: 30px;

    cursor: pointer;
  }

  .menuSection.on {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background: var(--background);
    animation: fromTop .4s;

    z-index: 1;
  }

/* =================== animation ================ */
  @keyframes fromTop {
    from {
      transform: translateY(-500px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
/* ============================================== */
  .mobileLogo {
    position: relative;
    z-index: 2;
  }

  .menuSection.on nav {
    display: initial;
    width: 100%;
  }

  .menuSection.on nav ul {
    flex-direction: column;
    margin-top: 104px;

    position: relative;
  }

  .menuSection.on nav ul li:first-child {
    border-top: 1px solid var(--border);
  }

  .menuSection.on nav ul li {
    padding: 17px 0 14px 25.82px;
    border-bottom: 1px solid var(--border);
  }

  .menuSection.on nav ul li a {
    font-size: 1.8rem;
    color: var(--text-color-menu-mobile);
  }

  .menuSection.on .active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    width: 5px;
    height: 56px;
    background: var(--button);
  }

  .menuSection.on .active a {
    font-weight: 700;
    color: var(--text-color);
  }
}

@media (max-width: 640px) {
  body {
    min-height: 926px;
    background: var(--background) url(./assets/bgBlurMobile.svg) no-repeat center/cover;
    background-position: bottom;
  }
  main {
    width: 87.2%;
  }

  main p {
    font-size: 3rem;
  }

  main .title h1,
  main .title span {
    font-size: 5rem;
  }

  main .title span {
      text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  }
}

@media (max-width: 424px) {
  main .title h1,
  main .title span {
    font-size: 3.8rem;
  }

  main p {
    padding-inline: 20px;
  }

  .btn:nth-child(2) {
    width: 160px;
  }
}

@media (max-width: 320px) {
  body {
    min-height: 850px;
  }

  main p {
    font-size: 2.8rem;
  }

  main .title h1,
  main .title span {
    font-size: 3rem;
  }

  .btn:nth-child(2) {
    margin-bottom: 88px;
  }
}